<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h2 class="contacts__head-text">{{ 'contacts.contactUs' | transloco}}</h2>
      <p class="contacts__subhead-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
      <app-contact-form></app-contact-form>
      <!-- <form action="">
        <div>
        <label for="contacts__name" class="contact-form__label" >Name</label>
        <input type="text" name="" class="contact-form__input" id="contacts__name" placeholder="Your name"/>
      </div>
      <div>
        <label for="contacts__email" class="contact-form__label">Email</label>
        <input type="email" name="" class="contact-form__input" id="contacts__email" placeholder="Your email"/>
      </div>
      <div>
        <label for="contacts__phone" class="contact-form__label" >Phone</label>
        <input type="tel" name="" class="contact-form__input" id="contacts__phone" placeholder="Your phone"/>
      </div>
      <div>
        <label for="contacts__message" class="contact-form__label" >Message</label>
        <textarea name="" class="contact-form__input contact-form__input_message" id="contacts__message" cols="30" rows="30" placeholder="Write a message"></textarea>
      </div>
      <div>
        <button type="submit" class="contact-form__submit">Send</button>
      </div>
      </form> -->
    </div>
    <div class="col-12 col-sm-6">
      <h2 class="contacts__head-text">{{ 'contacts.inTouch' | transloco}}</h2>
      <p class="contacts__subhead-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
      <a href="tel:555" class="contacts__direct-contacts"><i class="fa fa-phone material-icons green"></i> +1 000 00 00</a><br />
      <a href="mailto:" class="contacts__direct-contacts"><i class="fa fa-envelope material-icons green"></i> viapharm@gmail.com</a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">map</div>
  </div>
</div>
