<div class="container-fluid">
  <section class="about-head">
    <div class="container">
      <div class="row align-items-center">
        <div class="col about-head__logo">
          <img
            src="./../../../assets/images/logo_white.svg"
            class="about-head__logo-img"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="row about__info-text">
    <div class="col-8">
      <p class="about__info-text-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididuntut labore et dolore magna aliqua. Adipiscing tristique
        risus nec feugiat in fermentum posuere urna.
      </p>
    </div>
    <div class="col-4">
      <p class="about__info-text-right">
        A high-quality solution for those who want a beautiful startup quickly.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col align-self-center about__samples">
      <div class="about__samples-inside">
        <h2 class="about__samples-head">Samples of Startup</h2>
        <p class="about__samples-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing
          tristique risus nec feugiat in fermentum posuere urna.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid about__history">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2>Our history</h2>
          </div>
        </div>

        <div class="row about__history-row">
          <div class="col-1">
            <div class="about__history-paragraph-number">1</div>
          </div>
          <div class="col-11">
            <h4 class="about__history-paragraph-header">Lorem ipsum dolor sit amet</h4>
            <p class="about__history-paragraph-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Adipiscing tristique risus nec feugiat in fermentum posuere urna.
            </p>
          </div>
        </div>
        <div class="row about__history-row">
          <div class="col-1">
            <div class="about__history-paragraph-number">2</div>
          </div>
          <div class="col-11">
            <h4 class="about__history-paragraph-header">Lorem ipsum dolor sit amet</h4>
            <p class="about__history-paragraph-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididuntut labore et dolore magna aliqua.
              Adipiscing tristique risus nec feugiat in fermentum posuere
              urna.Eu facilisis sed odio morbi quis commodo odio aenean sed.
              Bibendum arcu vitae elementum curabitur vitae nunc sed velit
              dignissim.
            </p>
            <img src="./../../../assets/images/laboratory_small.jpg" alt="" />
          </div>
        </div>
        <div class="row about__history-row">
          <div class="col-1">
            <div class="about__history-paragraph-number">1</div>
          </div>
          <div class="col-11">
            <h4 class="about__history-paragraph-header">Lorem ipsum dolor sit amet</h4>
            <p class="about__history-paragraph-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Adipiscing tristique risus nec feugiat in fermentum posuere urna.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
