<div class="container footer">
  <div class="row align-items-center footer__row">
    <div class="col">
        <img src="./../../../assets/images/logo_green.svg" alt=""><br>
        <a routerLink="/" class="copyright">&copy; Viapharm 2020. All rights reserved</a>
    </div>
    <div class="col">
        <div class="send-letter">
            <h2 class="send-letter__head">Send a letter:</h2>
            <a href="mailto: viapharm@gmail.com" class="send-letter__link">viapharm@gmail.com</a>
        </div>
    </div>
    <div class="col">
      <nav>
        <ul class="footer__navigation">
          <li class="footer__navigation-item">
            <a routerLink="/development" class="footer__navigation-item-link">Development</a>
          </li>
          <li class="footer__navigation-item">
            <a routerLink="/production" class="footer__navigation-item-link">Production</a>
          </li>
          <li class="footer__navigation-item">
            <a routerLink="/consulting" class="footer__navigation-item-link">Consulting</a>
          </li>
          <li class="footer__navigation-item">
            <a routerLink="/about" class="footer__navigation-item-link">About us</a>
          </li>
          <li class="footer__navigation-item">
            <a routerLink="/contacts" class="footer__navigation-item-link">Contact and location</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
