
@media only screen and (max-width: 540px) {
  .header__container {
    display: none;
  }

  .menu__box {
    display: block;
  }

  .menu__btn {
    display: flex;
  }
}


@media only screen and (max-width: 960px) {
  .menu {
    &__navigation {
      &-item {
        margin-left: 15px;

        &-link,
        &-link:visited {
          font-size: 13px;
        }
      }
    }
  }
}
