
@import "./../../../assets/styles/variables";



  .header {
    height: 112px;
    margin: 0 auto;
  }
  

.menu {
    height: 100%;
    display: flex;
    align-items: center;
  
    &__navigation {
      display: flex;
      flex-direction: row;
  
      list-style-type: none;
  
      &-item {
        margin-left: 35px;
  
        &-link,
        &-link:visited {
          @extend %nav-font;
  
          text-decoration: none;
  
          &:hover {
              opacity: 0.7;
          }
        }
      }
    }
  }

  .active-link {
    color: #000000 !important;
  }



  // Start hamburger menu
  /* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: none; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background: #4d4d4d;
  border-radius: 3px;
  cursor: pointer;
  z-index: 1100;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #bbb8b8;
}
.menu__btn > span::before {
  content: '';
  top: -13px;
}
.menu__btn > span::after {
  content: '';
  top: 13px;
}

/* контейнер меню */
.menu__box {
  display: none;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  z-index: 1000;
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: Eastman;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}


  @import "media_querys";
