<div class="container">
  <div class="row align-items-center header">
    <div class="col-sm-2">
      <a routerLink="/" class="header__logo">
        <img src="./../../../assets/images/logo_green.svg" alt="" />
      </a>
    </div>
    <div class="col-sm-10">
      <nav class="menu">
        <ul class="menu__navigation">
          <li class="menu__navigation-item">
            <a routerLink="/development" class="menu__navigation-item-link">Development</a>
          </li>
          <li class="menu__navigation-item">
            <a routerLink="/production" class="menu__navigation-item-link">Production</a>
          </li>
          <li class="menu__navigation-item">
            <a routerLink="/consulting" class="menu__navigation-item-link">Consulting</a>
          </li>
          <li class="menu__navigation-item">
            <a routerLink="/about" class="menu__navigation-item-link">About us</a>
          </li>
          <li class="menu__navigation-item">
            <a routerLink="/contacts" class="menu__navigation-item-link"
              >Contact and location</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
