<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <section class="head-section">
        <div class="head-section__content">
          <h1 class="head-section__header">
            Lorem ipsum dolor sit amet, consectetur
          </h1>
          <div class="head-section__line"></div>
          <p class="head-section__subheader">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed
            consectetur libero. Curabitur.
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
