<div class="container-fluid">
  <div class="row">
    <div class="col">
      <section class="production">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="production__header">API Production</h2>
          <p class="production__subheader">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="production-sales">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="production-sales__header">
            Final formulation production
            <span class="production-sales__header_green">and sales</span>
          </h2>
          <p class="production-sales__subheader">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
  </section>
    </div>
  </div>
  
</div>
