<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="container development-synt">
        <div class="row development-synt__main">
          <div class="col">
            <h2 class="development-synt__header"><span class="development-synt__header_green">Developments</span> of synthetic and semi-synthetic APIs</h2>
            <p class="development-synt__subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
              <h3 class="development-synt__small-header">User Guide</h3>
              <p class="development-synt__small-subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
          </div>
          <div class="col">
              <h3 class="development-synt__small-header development-synt__small-header_tutorial">Video Tutorials</h3>
              <p class="development-synt__small-subheader development-synt__small-subheader_tutorial">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <section class="development-formula">
        <h2 class="development-formula__header">
          Development of final formulation
        </h2>
        <p class="development-formula__subheader">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </section>
    </div>
  </div>
</div>
