<div class="container">
  <div class="row">
    <div class="col">
      <div class="social-buttons">
        <a href="" class="social-buttons__item">
          <img src="./../../../../assets/images/social_icons/facebook.svg" alt="" />
        </a>
        <a href="" class="social-buttons__item">
          <img src="./../../../../assets/images/social_icons/linkedin.svg" alt="" />
        </a>
        <a href="" class="social-buttons__item">
          <img src="./../../../../assets/images/social_icons/twitter.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
