<div class="container-fluid consulting__wrapper">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="consulting__head-text">Manufacturing</h2>
            <p class="consulting__subhead-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="consulting__article-head">Lorem Impsun</h2>
      <p class="consulting__article-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididuntut labore et dolore magna aliqua. Adipiscing tristique
        risus nec feugiat in fermentum posuere urna.Eu facilisis sed odio morbi
        quis commodo odio aenean sed. Bibendum arcu vitae elementum curabitur
        vitae nunc sed velit dignissim.
      </p>
      <p class="consulting__article-text">
        Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat
        vivamus. Non arcu risus quis varius. Quis lectus nulla at volutpat diam
        ut venenatis. Tortor aliquam nulla facilisi cras fermentum odio eu
        feugiat pretium. Ipsum dolor sit amet consectetur adipiscing. Enim sed
        faucibus turpis in eu mi bibendum neque egestas. Porttitor leo a diam
        sollicitudin tempor id eu.
      </p>

      <h3 class="consulting__article-head_small">Lorem ipsum dolor</h3>
      <p class="consulting__article-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididuntut labore et dolore magna aliqua. Adipiscing tristique
        risus nec feugiat in fermentum posuere urna
      </p>
      <img
        src="./../../../assets/images/laboratory.jpg"
        class="consulting__article-img"
        alt=""
      />
    </div>
  </div>
  <div class="row consulting__contact">
    <div class="col-12 col-sm-8">
      <h2 class="consulting__contact-head">
        Business development consulting
      </h2>
    </div>
    <div class="col-12 col-sm-4">
      <button class="consulting__contact-button">Contact us</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="consulting-card consulting-card_state-1">
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Adipiscing tristique risus nec feugiat in fermentum posuere
          urna,
        </p>
        <button class="consulting-card__button">More</button>
      </div>
    </div>
    <div class="col">
      <div class="consulting-card consulting-card_state-2">
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Adipiscing tristique risus nec feugiat in fermentum posuere
          urna,
        </p>
        <button class="consulting-card__button consulting-card__button_bordered">More</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="consulting-card consulting-card_state-3">
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Adipiscing tristique risus nec feugiat in fermentum posuere
          urna,
        </p>
        <button class="consulting-card__button">More</button>
      </div>
    </div>
    <div class="col">
      <div class="consulting-card consulting-card_state-4">
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Adipiscing tristique risus nec feugiat in fermentum posuere
          urna,
        </p>
        <button class="consulting-card__button  consulting-card__button_black">More</button>
      </div>
    </div>
  </div>



</div>


        